<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="increase(title='通知管理')">
<div th:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>通知管理</h5>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3" th:include="include :: _input(id='condition',name='名称')"></div>
                                <div class="col-sm-3" th:include="include :: _button(id='did',name='搜索',icon='fa-search')"></div>
                            </div>
                            <div class="hidden-xs" id="NoticeTableToolbar" role="group">
                                <th:block th:if="*{@shiro.hasPermission('/notice/add')}" th:include="include :: _button(name='添加',icon='fa-plus',onFun='Notice.openAddNotice()')"/>
                                <th:block th:if="*{@shiro.hasPermission('/notice/update')}" th:include="include :: _button(name='修改',icon='fa-edit',onFun='Notice.openNoticeDetail()')"/>
                                <th:block th:if="*{@shiro.hasPermission('/notice/delete')}" th:include="include :: _button(name='删除',icon='fa-remove',onFun='Notice.delete()')"/>
                            </div>
                            <div th:include="include :: _table('NoticeTable')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/modular/system/notice/notice.js}"></script>
</div>
</html>