<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="increase(title='报销审批管理')">
<div th:fragment="content">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>报销审批管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3" th:include="include :: _input(id='condition',name='名称')"/>
                            <div class="col-sm-3">
                                <th:block th:include="include :: _button(id='eid',name='搜索',icon='fa-search',onFun='Process.search()')"/>
                            </div>
                        </div>
                        <div th:include="include :: _table('ProcessTable')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/modular/flowable/process/process.js}"></script>
</div>
</html>